

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body {
    
   
    font-family: "Work Sans", serif;
}

.text {
    color: #FD6E0A;
}
.header {
    background-image: url('./images/developer.png'), url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.second {
    background-color: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
   
    
}
.nav-title {
    font-weight: 700;
    font-size: 45px;
    
   
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
     list-style: none;
    margin-right: 50px;
    
  
}
nav ul li a {
    text-decoration: none;
    margin-top: 60px;
}
.dark {
    color: #474747;
    font-size: 20px;
}
.btn {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 20px;
    
    
}
.primary-btn {
   
    color: #FD6E0A;
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2PX solid #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20PX;
}
.btn:hover {
    background-color: #E84D12;
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;

}
.banner-content {
    max-width: 580px;
}
.banner-text {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
  
}
.banner-title {
    font-weight: bolder;
    font-size: 80px;
}

.banner-pic {
    width:  580px;
}
.section-title {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-description {
    font-size: 18px;
    color: #757575;
}
.text-center {
    text-align: center;
}
main {
    max-width: 1140px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.item-title {
    font-weight: bold;
    
    color: #181818;
}
.about-items {
    display: flex;
    justify-content: space-around;
}
.skills-container {
    display: flex;
    gap: 24px;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 30px;
}
.skills-description {
    padding: 0px 130px;
}

.resume-container {
    display: flex;
    gap: 24px;
}

.experience-description, .experience-sub-title {
    color: #757575;
}

.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume hr {
    margin: 30px 5px;
}
.btn-cv {
    margin-top: 50px;
}
footer {
    padding: 130px 230px;
    display: flex;
    gap: 130px;

}
.footer-column {
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea {
    height: 60px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;

}